* {
  background-color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px;
}
#searchbox {
  width: 200px;
  height: 50px;
  border: none;
  margin-left: 20px;
  background-color: white;
  outline: none;
  font-size: large;
}
#search,
#basic_card {
  width: 500px;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  padding: 0 10px;
}
#avatar_name_div,
#avatar_name_div2,
#gender_location_div,
#status_species_div {
  display: flex;
  align-items: center;
  background-color: white;
}
#basic_card {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  cursor: pointer;
}
b,
h1,
p {
  background-color: white;
  margin: 0;
}
#container {
  margin-top: 20px;
}
#gender_location_div {
  justify-content: space-around;
}
#gender_location_div > div {
  width: 50%;
}
#gray_font {
  color: gray;
}
hr {
  width: 80%;
}
